.cards {
  padding: 0 148px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cards {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    padding: 0 24px;
  }
}

@media screen and (max-width: 640px) {
  .cards {
    padding: 0;
  }
}
