.lead {
  padding: 56px 148px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 48px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 48px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    padding: 16px 0 0;
  }
}
