.intro {
  padding: 92px 0 0 148px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1095px) {
  .intro {
    padding: 92px 0 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 0 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 0 0 16px;
  }
}
