.lead__subtitle {
  margin: 0 172px 64px;
  display: block;
  text-align: center;
  line-height: 1.2;
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 144px 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin: 0 64px 56px;
  }
}

@media screen and (max-width: 680px) {
  .lead__subtitle {
    font-size: 26px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin: 0 16px 40px;
    line-height: 1.3;
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
  }
}
